<section data-bs-version="5.1" class="footer4 cid-t63ubHUEuE" once="footers" id="footer4-2o">

    
    
    
    <div class="container">
    <a href="tel:0908267759" title="Hotline" id="floating-phone"> <i class="uk-icon-phone"></i></a>
        <div class="row mbr-white">
            <div class="col-6 col-lg-3">
                <div class="media-wrap col-md-8 col-12">
                    <a href="https://linkedin.anphabe.com/">
                        <img src="/assets/images/logo-anphabe-w.png" alt="Anphabe - Connecting Opportuinities">
                    </a>
                </div>
                 <p class="mbr-text text-footer mbr-fonts-style mb-4 mt-2 display-7">
                    Đại lý chiến lược độc quyền của LinkedIn Talent Solutions </p>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>Dịch vụ</strong></h5>
                <ul class="list mbr-fonts-style display-4">
                    <li class="mbr-text item-wrap"><a href="https://linkedin.anphabe.com/linkedin-recruiter/" class="text-primary footer-link" target="_blank">Recruiter</a>​</li>
                    <li class="mbr-text item-wrap"><a href="https://linkedin.anphabe.com/job-slots/" class="text-primary footer-link">Job Slots</a></li>
                    <li class="mbr-text item-wrap"><a href="https://linkedin.anphabe.com/company-career-pages/" class="text-primary footer-link">Career Page</a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7">
                    <strong>Tài nguyên</strong></h5>
                    <ul class="list mbr-fonts-style display-4">
                        <li class="mbr-text item-wrap">Cẩm nang</li>
                        <li class="mbr-text item-wrap">Bài viết</li>
                    </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="mbr-section-subtitle mbr-fonts-style mb-2 display-7"><strong>Liên hệ</strong></h5>
                    <div class="social-row display-7">
                    <div class="soc-item">
                        <a href="https://www.facebook.com/anphabe" target="_blank">
                            <span class="mbr-iconfont socicon-facebook socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.linkedin.com/company/anphabe.com/mycompany/" target="_blank">
                            <span class="mbr-iconfont socicon-linkedin socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://twitter.com/anphabe" target="_blank">
                            <span class="mbr-iconfont socicon-twitter socicon"></span>
                        </a>
                    </div>
                </div>
                <ul class="list mbr-fonts-style display-4">
                    <li class="mbr-text item-wrap">Hotline: ​</li><li class="mbr-text item-wrap">(+84) 908 267 759​</li><li class="mbr-text item-wrap">(+84) 8 6268 2222</li><li class="mbr-text item-wrap"><span style="font-size: 1.1rem;"><a href="mailto:clientsolution@anphabe.com" class="text-primary">clientsolution@anphabe.com​</a></span></li>
                </ul>
            </div>
            <div class="col-12 mt-4">
                <p class="mbr-text text-footer mb-0 mbr-fonts-style copyright align-center display-7">Anphabe © 2022 - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>