<!-- Load Shared SCSS -->
{{- $sharedSCSS := resources.Get "scss/shared/shared.scss" -}}
{{- $sharedSCSS := $sharedSCSS | resources.ToCSS (dict "outputStyle" "compressed" "includePaths" (slice "assets")) -}}
{{- $sharedSCSS := $sharedSCSS | resources.ExecuteAsTemplate "main.scss" . -}}

<!-- Load Shared JS -->
{{- $sharedJS := resources.Get "js/shared/shared.js" -}}
{{- $sharedJS := $sharedJS | js.Build (dict "minify" "true") -}}

<style type="text/css" media="all">{{ $sharedSCSS.Content | safeCSS }}</style>
<script>{{- $sharedJS.Content | safeJS -}}</script>


 <!-- Custom Fonts -->
 <link href="https://cdn.jsdelivr.net/gh/FortAwesome/Font-Awesome@5.15.1/css/all.css" rel="stylesheet" type="text/css">

 <!--  Custom CSS  -->
 {{ range .Site.Params.custom_css -}}
 <link rel="stylesheet" href="{{ . | absURL }}">
 {{- end }}

 <!-- jQuery -->
 <script src="{{ "js/jquery.min.js" | relURL }}"></script>

 
 <!-- Hux Theme JavaScript -->
 <script src="{{ "js/hux-blog.min.js" | relURL }}"></script>

 <!-- lazy load image JavaScript -->
 <script src="{{ "js/lazysizes.min.js" | relURL }}"></script>