<footer class="shared footer bg-blue-light py-5">
  <div class="container">
    <div class="row pb-5">
      <div class="col-12 col-xl-4 text-center text-xl-start pb-4">
        <h4 class="fs-4 fw-semibold text-uppercase text-primary">{{ .Site.Title }}</h4>
        <p class="small text-black-61">{{ .Site.Params.description }}</p>
        {{ with .Site.Params.social }}
        <ul class="d-flex justify-content-center justify-content-xl-start list-unstyled">
          {{ with .dribbble }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/dribbble.html" }}</a></li>{{ end }}
          {{ with .instagram }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/instagram.html" }}</a></li>{{ end }}
          {{ with .facebook }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/facebook.html" }}</a></li>{{ end }}
          {{ with .twitter }}<li class="rounded-circle bg-blue-63 me-2 p-2"><a class="d-flex align-items-center justify-content-center size-16" href="{{ . }}">{{ partial "icons/twitter.html" }}</a></li>{{ end }}
        </ul>
        {{ end }}
      </div>
      <div class="col-12 col-xl-2 text-center text-xl-start pb-4">
        <h5 class="fs-6 fw-semibold text-primary">About us</h5>
        <ul class="list-unstyled">
          {{ range .Site.Menus.footer }}
            <li class="">
              <a class="small text-black-61 text-decoration-none" href="{{ .URL }}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-12 col-xl-3 text-center text-xl-start pb-4">
        <h5 class="fs-6 fw-semibold text-primary">Location</h5>
        <ul class="list-unstyled">
          {{ range .Site.Params.location }}
            <li class="d-flex justify-content-center justify-content-xl-start mb-2">
              <div class="d-flex align-items-center text-primary">{{ partial "icons/geo-alt.html" }}</div>
              <p class="small text-black-61 m-0 ps-2">{{ . }}</p>
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-12 col-xl-3 text-center text-xl-start pb-4">
        <h5 class="fs-6 fw-semibold text-primary">Contact us</h5>
        {{ range .Site.Params.contact }}
          <p class="small text-black-61 mb-1">{{ . }}</p>
        {{ end }}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        {{ with .Site.Params.copyright }}
          <p class="small text-black-61 text-center">{{ . }}</p>
        {{ end }}
      </div>
    </div>
  </div>
</footer>


<!-- async load function -->
<script>
  function loadAsync(u, c) {
    var d = document, t = 'script',
        o = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    o.src = u;
    if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
    s.parentNode.insertBefore(o, s);
  }
</script>

<!--
   Because of the native support for backtick-style fenced code blocks
   right within the Markdown is landed in Github Pages,
   From V1.6, There is no need for Highlight.js,
   so Huxblog drops it officially.

   - https://github.com/blog/2100-github-pages-now-faster-and-simpler-with-jekyll-3-0
   - https://help.github.com/articles/creating-and-highlighting-code-blocks/
-->
<!--
  <script>
      loadAsync("http://cdn.bootcss.com/highlight.js/8.6/highlight.min.js", function(){
          hljs.initHighlightingOnLoad();
      })
  </script>
  <link href="http://cdn.bootcss.com/highlight.js/8.6/styles/github.min.css" rel="stylesheet">
-->


<!-- jquery.tagcloud.js -->
<script>
  // only load tagcloud.js in tag.html
  if($('#tag_cloud').length !== 0){
      loadAsync("/js/jquery.tagcloud.js",function(){
          $.fn.tagcloud.defaults = {
              //size: {start: 1, end: 1, unit: 'em'},
              color: {start: '#bbbbee', end: '#0085a1'},
          };
          $('#tag_cloud a').tagcloud();
      })
  }
</script>

<!--fastClick.js -->
<script>
  loadAsync("https://cdn.jsdelivr.net/npm/fastclick@1.0.6/lib/fastclick.min.js", function(){
      var $nav = document.querySelector("nav");
      if($nav) FastClick.attach($nav);
  })
</script>


<!-- Side Catalog -->
{{ if not (eq (.Param "showtoc") false) }}
<script type="text/javascript">
    function generateCatalog(selector) {

        // interop with multilangual
        //if ('page.multilingual' == 'true') {
        //    _containerSelector = 'div.post-container.active'
        //} else {
            _containerSelector = 'div.post-container'
        //}

        // init
        var P = $(_containerSelector), a, n, t, l, i, c;
        a = P.find('h1,h2,h3,h4,h5,h6');

        // clean
        $(selector).html('')

        // appending
        a.each(function () {
            n = $(this).prop('tagName').toLowerCase();
            i = "#" + $(this).prop('id');
            t = $(this).text();
            c = $('<a href="' + i + '" rel="nofollow">' + t + '</a>');
            l = $('<li class="' + n + '_nav"></li>').append(c);
            $(selector).append(l);
        });
        return true;
    }

    generateCatalog(".catalog-body");

    // toggle side catalog
    $(".catalog-toggle").click((function (e) {
        e.preventDefault();
        $('.side-catalog').toggleClass("fold")
    }))

    /*
     * Doc: https://github.com/davist11/jQuery-One-Page-Nav
     * Fork by Hux to support padding
     */

    loadAsync("{{ "js/jquery.nav.js" | relURL }}", function () {
        $('.catalog-body').onePageNav({
            currentClass: "active",
            changeHash: !1,
            easing: "swing",
            filter: "",
            scrollSpeed: 700,
            scrollOffset: 0,
            scrollThreshold: .2,
            begin: null,
            end: null,
            scrollChange: null,
            padding: 80
        });
    });
</script>
{{ end }}