<figure class="figure mb-2 {{ .Get "class" }}">
    {{ with .Get "link"}}<a href="{{.}}">{{ end }}
        <img class="figure-img img-fluid" src="{{ .Get "src" }}" {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }} {{if (.Get "width") }} width="{{ .Get "width" }}" {{end}} {{if (.Get "height") }} height="{{ .Get "height" }}" {{end}} {{if (.Get "xstyle") }} style="{{ .Get "xstyle" }}" {{end}} />
    {{ if .Get "link"}}</a>{{ end }}
    {{ if or (.Get "alt") (.Get "caption") }}
    <figcaption class="figure-caption text-center text-dark">
        {{ with .Get "alt"}}
            {{.}}
        {{else}}
            {{ .Get "caption" }}
        {{ end }}
    </figcaption>
    {{ end }}
</figure>
<!-- image -->