<section class="section brands ">
  <div class="container">
    <div class="row">
      {{ with .content.title }}
        <div class="col-12">
          <h3 class="fs-5 fw-semibold text-primary text-center ">{{ . }}</h3>
        </div>
      {{ end }}
    </div>
    <div class="row">
      {{ range .content.points }}
        <div class="col-12 col-xl-4">
          <div class="card  border-0 border-radius-34 ">
            {{ with .image }}{{ partial "utilities/image-fluid.html" . }}{{ end }}
            <div class="card-body text-center">
              {{ with .title }}<h4 class="card-title text-center text-primary ">{{ . }}</h4>{{ end }}
              {{ with .description }}<p class="card-text text-black-61 ">{{ . }}</p>{{ end }}
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>
