<!DOCTYPE html>
<html lang="vi"   >
<head>
  
    {{ partial "head_meta.html" . }}
    {{ partial "head_js_css.html" . }}
  
</head>
<body>

{{ partial "brand.html" . }}

<section data-bs-version="5.1" class="header1 cid-t5u76VadFH mbr-fullscreen" id="header1-1r">
    <div class="mbr-overlay" style="opacity: 0; background-color: rgb(0, 0, 0);"></div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>LINKEDIN TALENT SOLUTION ​</strong></h1>
                <h2 class="mbr-section-subtitle mbr-fonts-style mb-3 display-5">“Săn &amp; Tuyển” nhân tài nhanh chóng, tiết kiệm​</h2>
                <p class="mbr-text mbr-fonts-style mb-4 display-7"><br>Là Đại Lý  Chiến Lược duy nhất của LinkedIn tại Việt Nam, Anphabe chuyên cung cấp các giải pháp Tuyển Dụng &amp; Thương Hiệu Nhà Tuyển Dụng trên nền tảng LinkedIn – Mạng cộng đồng người đi làm chuyên nghiệp lớn nhất thế giới<br></p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-4" href="index.html#dangky">LIÊN HỆ TƯ VẤN</a></div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="header9 cid-sXF7y095yr mbr-fullscreen" id="header9-1i">

    <div class="container">
        <div class="row justify-content-center align-items-center">            
            <div class="col-12 col-md">
                <div class="text-wrapper">
                    <h1 class="mbr-section-title mbr-fonts-style mb-3 display-2">Tuyển nhân tài càng ngày càng khó​</h1>
                    <ul class="list-layout2">
                        <li><span class="mbri-success"></span><p class="mbr-text mbr-fonts-style display-7"> Thiếu người ứng tuyển​</p></li>
                        <li><span class="mbri-success"></span><p class="mbr-text mbr-fonts-style display-7">Hồ sơ không đủ chất lượng</p></li>
                        <li><span class="mbri-success"></span><p class="mbr-text mbr-fonts-style display-7">Ứng viên không phù hợp​</p></li>
                        <li><span class="mbri-success"></span><p class="mbr-text mbr-fonts-style display-7">Tốn nhiều thời gian &amp; tiền bạc để tuyển dụng thành công​</p></li>
                    </ul>
                    
                </div>
            </div>
            <div class="col-12 col-md-7 image-wrapper">
                <img class="w-100" src="assets/images/pic2-1.jpg" alt="" title="">
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="info1 cid-saD4YPExoD" id="info1-5">
    
    
    <div class="align-center container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h3 class="mbr-section-title mt-4 mbr-fonts-style display-5">Hãy để Anphabe và LinkedIn giúp bạn​</h3>
                <div class="mbr-section-btn"><a class="btn btn-primary display-4" href="index.html#dangky"><strong>TRẢI NGHIỆM NGAY</strong></a></div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content4 cid-t5Bqrrv3TD" id="content4-1y">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-1 display-5">LINKEDIN TALENT SOLUTION</h3>
                <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-5"><strong>Giải pháp tuyển dụng &amp; thương hiệu nhà tuyển dụng toàn diện​</strong></h4>
                
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features15 cid-sG81UdyHFL" id="CareerPages">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-4 display-2">Linkedin Recruiter</h6>
                        <ul class="list-layout2">
                            <li><p class="mbr-text mbr-fonts-style display-7">Công cụ tìm kiếm, liên lạc và quản trị nguồn ứng viên khó tìm, giúp chuyên viên tuyển dụng trở thành “chuyên gia Săn Đầu Người” nội bộ hiệu quả</p></li>                            
                        </ul>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-warning-outline display-4" href="https://linkedin.anphabe.com/linkedin-recruiter/">Xem thêm</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-7">
                    <div id="carousel2" class="carousel slide" data-ride="carousel" data-bs-ride="carousel" data-interval="3000" data-bs-interval="3000">                      
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <a href="https://linkedin.anphabe.com/linkedin-recruiter/"><img class="d-block w-100" src="assets/images/home-module1-recruiter-dsk-2x.original.png" alt="Linkedin Recruiter"></a>
                        </div>                       
                      </div>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features16 cid-sG82HRgR6x" id="linkedin-recruiter">
    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div id="carousel3" class="carousel slide" data-ride="carousel" data-bs-ride="carousel" data-interval="3000" data-bs-interval="3000">
                     
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <a href="https://linkedin.anphabe.com/job-slots/"><img class="d-block w-100" src="assets/images/job-m4-hiw2-get-d.original-1.png" alt="LinkedIn Job Slot"></a>
                        </div>
                        
                      </div>
                      
                    </div>
                </div>
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-4 display-2">LinkedIn Job Slot</h6>
                        <ul class="list-layout2">
                              <li><p class="mbr-text mbr-fonts-style display-7">Góc đăng tuyển riêng, cho phép đăng tin liện tục trong thời gian đăng ký, thay đổi tin không giới hạn số lần và đẩy tin tới ứng viên phù hợp nhất bằng công nghệ AI tân tiến</p></li>
                              
                          </ul>
                            <div class="mbr-section-btn mt-3"><a class="btn btn-warning-outline display-4" href="https://linkedin.anphabe.com/job-slots/">Xem thêm</a></div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
<style class="witsec-draft-mode-style">.witsec-draft-mode { border: 3px dashed red; }</style></section>

<section data-bs-version="5.1" class="features15 cid-sG8P37K2jy" id="job-slots">

    

    
    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">
                    <div class="text-wrapper">
                        <h6 class="card-title mbr-fonts-style mb-4 display-2">Linkedin Career Page</h6>
                        <ul class="list-layout2">
                            <li><p class="mbr-text mbr-fonts-style display-7">Chuyên trang doanh nghiệp giới thiệu môi trường làm việc &amp; cơ hội nghề nghiệp, giúp gia tăng thương hiệu nhà tuyển dụng và xây ngân hàng hồ sơ phù hợp.<br></p></li>                            
                        </ul>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-warning-outline display-4" href="https://linkedin.anphabe.com/company-career-pages/">Xem thêm</a></div>
                    </div>
                </div>
                <div class="col-12 col-lg-7">
                    <div id="carousel2" class="carousel slide" data-ride="carousel" data-bs-ride="carousel" data-interval="3000" data-bs-interval="3000">
                      
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <a href="https://linkedin.anphabe.com/company-career-pages/"><img class="d-block w-100" src="assets/images/careerpage.jpg" alt="Linkedin Career Page"></a>
                        </div>
                       
                      </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content8 cid-saD9329W1a" id="content8-9">
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4" href="index.html#dangky"><strong>TRẢI NGHIỆM NGAY</strong></a></div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features1 cid-t5BA3dyHgB" id="features1-1z">
    

    
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-9">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-5">Tuyển dụng các vị trí cao cấp, khó tìm NHANH CHÓNG và TIẾT KIỆM hơn​</h3>
                
            </div>
        </div>
        <div class="row">
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        
                        <p class="number-typo mbr-fonts-style display-7">+810 triệu</p>                   
                        <p class="card-text mbr-fonts-style display-7">Thành viên toàn cầu, +3,5triệu người tại Việt Nam​</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        
                        <p class="number-typo mbr-fonts-style display-7">90%​</p>                   
                        <p class="card-text mbr-fonts-style display-7">Thành viên phản hồi lại các tin nhắn chia sẻ cơ hội nghề nghiệp​</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        
                        <p class="number-typo mbr-fonts-style display-7">4 vị trí/phút​</p>                   
                        <p class="card-text mbr-fonts-style display-7">Trung bình mỗi phút, có 4 vị trí được tuyển dụng thành công</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="form5 cid-t7uvtz3F5I" id="lienhetuvan">
    
    
    <div class="container">
   
        <div class="row justify-content-center">
         <div class="col-lg-8">
                <div class="mbr-section-head">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">Đăng ký ngay để trải nghiệm</h3>                    
                </div>
            </div>
            <div class="col-lg-6">                
                <div class="info-form mt-4">
                    <p class="mbr-text mbr-fonts-style align-center mb-1 display-7"><strong>Liên hệ ANPHABE để được tư vấn</strong></p>            
                    <p class="mbr-text mbr-fonts-style align-center mb-1 display-7">
                    <span class="mbr-iconfont mobi-mbri-phone"></span> (+84) 8 6268 2222</p>
                    <p class="mbr-text mbr-fonts-style align-center mb-1 display-7">
                    <span class="ti-mobile mbr-iconfont"></span> (+84) 908 267 759</p>
                    <p class="mbr-text mbr-fonts-style align-center mb-4 display-7">
                    <span class="material material-mail-outline mbr-iconfont"></span> <a href="mailto:clientsolution@anphabe.com" class="text-primary">clientsolution@anphabe.com</a></p>
                    <hr class="mb-4">
                </div>
            </div>
        </div> 
               
    </div>
</section>

<section data-bs-version="5.1" class="form5 cid-t7iNfq3c9V" id="dangky" data-rv-view="214">
    
    
    <div class="container">
            
        <div class="row justify-content-center">
            <div class="col-lg-6">                
                <div class="mx-auto mbr-form">
                    <form class="mbr-form anphabe-lead form-with-styler  needs-validation" novalidate="" data-form-type="anphabe-lead" name="Form Name" method="POST">
                     <!-- <input type="hidden" name="mail_template" value="eoc2022"> -->
                    <a href="#register" style="display:none;"></a>
                    <a id="destination" href="thankyou.html" style="display:none;"></a>
                    <input type="hidden" name="product_name" value="linkedin">
                    <input type="hidden" name="utm_source" id="utm_source" value="">
                    <input type="hidden" name="utm_medium" id="utm_medium" value="">
                    <input type="hidden" name="utm_campaign" id="utm_campaign" value="">
                    <input type="hidden" name="utm_term" value="">
                    <input type="hidden" name="utm_content" value="">
                    <input type="hidden" name="landingpage" value="linkedin-homepage">
                    
                        <div class="row">
                            <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                            <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                                Oops...! some problem!
                            </div>
                        </div>
                        <div class="dragArea row">
                            <div class="col-lg-12 col-md-12 col-sm-12 form-group mb-3" data-for="fullname">
                                <input id="fullname" type="text" name="fullname" placeholder="Họ và tên bạn" data-form-field="fullname" required="" data-required="true" class="form-control" value="">
                                <div class="invalid-feedback">
                                  Vui lòng nhập tên của bạn
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 form-group mb-3" data-for="email">
                                <input id="email" type="email" name="email" data-required="true" required="" placeholder="Email" data-form-field="email" class="form-control" value="">
                                <div class="invalid-feedback">
                                  Vui lòng nhập email của bạn
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 form-group mb-3" data-for="phone">
                                <input type="text" id="phone" name="phone" data-required="true" required="" placeholder="Số điện thoại" data-form-field="phone" class="form-control" value="">
                                <div class="invalid-feedback">
                                  Vui lòng nhập số điện thoại liên lạc của bạn
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 form-group mb-3" data-for="position">
                                <input type="text" id="position" name="position" data-required="true" required="" placeholder="Vị trí công việc" data-form-field="position" class="form-control" value="">
                                <div class="invalid-feedback">
                                  Vui lòng nhập vị trí công việc của bạn trong công ty
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 form-group mb-3" data-for="company-name">
                                <input id="companyname" type="text" name="companyname" placeholder="Tên công ty" required="" data-form-field="companyname" data-required="true" class="form-control" value="">
                                <div class="invalid-feedback">
                                  Vui lòng nhập tên công ty của bạn
                                </div>
                            </div>
                             <div class="col-12 form-group mb-3" data-for="company-size">
                                <select id="company-size" name="company-size" data-form-field="company-size" required="" data-required="true" class="form-control form-select" value="">
                                    <option value="">Quy mô công ty</option>
                                    <option value="1-60 nhân sự ">1-60 nhân sự </option>
                                    <option value="61-200 nhân sự">61-200 nhân sự​</option>
                                    <option value="201-500 nhân sự">201-500 nhân sự</option>
                                    <option value="501-1000 nhân sự">501-1000 nhân sự</option>
                                    <option value="~1000">Hơn 1000 nhân sự </option>
                                </select>
                                <div class="invalid-feedback">
                                  Vui lòng chọn quy mô công ty của bạn
                                </div>
                            </div>
                            <div class="col-12 form-group mb-3" data-for="painpoint">
                                <select onchange="show_other('painpoint','painpoint_other')" id="painpoint" name="painpoint" data-form-field="painpoint" required="" data-required="true" class="form-control form-select" value="">
                                    <option value="">Nhu cầu nào bạn cần tư vấn?</option>
                                    <option value="Tìm &amp; liên lạc ứng viên">Tìm &amp; liên lạc ứng viên</option>
                                    <option value="Đăng tuyển">Đăng tuyển</option>
                                    <option value="Thương hiệu nhà tuyển dụng">Thương hiệu nhà tuyển dụng​</option>
                                    <option value="Cả ba nhu cầu trên">Cả ba nhu cầu trên</option>
                                    <option value="other">Khác (vui lòng chia sẻ cụ thể)</option>
                                </select>
                                <div class="invalid-feedback">
                                  Vui lòng chọn nhu cầu bạn cần tư vấn
                                </div>
                                <input id="painpoint_other" style="display:none;margin-left:2px;margin-top:10px;" type="textarea" name="painpoint_other" placeholder="Vui lòng ghi rõ nhu cầu của bạn" data-form-field="painpoint_other" class="form-control" value="">
                            </div>
                            <div class="col-12 form-group mb-3" data-for="numberhire">
                                <input id="numberhire" type="text" name="numberhire" data-required="true" required="" placeholder="Số lượng vị trí bạn cần tuyển trong 6 tháng tới?" data-form-field="numberhire" class="form-control" value="">
                                <div class="invalid-feedback">
                                  Vui lòng nhập số lượng nhân sự cần tuyển
                                </div>
                                <input type="checkbox" id="allow_contact_me" name="allow_contact_me" value="1" tabindex="-1" autocomplete="off">
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn mt-4"><input type="submit" class="btn btn-primary display-7" value="ĐĂNG KÝ TRẢI NGHIỆM"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>        
    </div>
</section>

<section data-bs-version="5.1" class="header5 cid-t5Y5dmelX0 mbr-fullscreen" id="header5-2b">

    

    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(0, 21, 55);"></div>

    <div class="container">
        <div class="row justify-content-end">
            <div class="col-12 col-lg-6">
                <div class="text-wrapper">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-2">Đặc quyền khi mua dịch vụ LinkedIn qua Anphabe</h1>
                
                <ul>
                    <li class="mbr-text mbr-fonts-style mb-2 display-7">Hưởng chính sách giá ưu đãi dành riêng cho thị trường Việt Nam​</li>
                    <li class="mbr-text mbr-fonts-style mb-2 display-7">Được hỗ trợ bởi đội ngũ chuyên viên từ cả Việt Nam &amp; Singapore​</li>
                    <li class="mbr-text mbr-fonts-style mb-2 display-7">Quy trình dễ dàng khi ký hợp đồng, xuất hóa đơn &amp; thanh toán tại Việt Nam​​</li>
                    <li class="mbr-text mbr-fonts-style mb-2 display-7">Kết hợp hiệu quả các giải pháp Thương hiệu nhà tuyển dụng &amp; Môi trường làm việc toàn diện khác từ Anphabe​</li>
                </ul>
                <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-7" href="index.html#dangky">TRẢI NGHIỆM NGAY</a></div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="people5 mbr-embla cid-t63lsgUGHH" id="people5-2j">

    

    

    <div class="position-relative text-center">
        

        <div class="embla" data-skip-snaps="true" data-align="center" data-auto-play-interval="5" data-draggable="true">
            <div class="embla__viewport container-fluid">
                <div class="embla__container">
                    <div class="embla__slide slider-image item" style="margin-left: 7rem; margin-right: 7rem;">
                        <div class="user">
                            <div class="user_image">
                                <div class="item-wrapper position-relative">
                                    <img src="assets/images/brook-lashley-lynch.png">
                                </div>
                            </div>
                            <div class="user_text mb-4">
                                <p class="mbr-fonts-style display-5">
                                    Thời gian tuyển dụng của chúng tôi đã giảm 136% với số lượng các vị trí được tuyển ngay trong ngày tăng gấp 9 lần. Tính đa dạng của ứng viên cũng gia tăng đáng kể, trong đó ứng viên nữ tăng 30%. Nhờ vậy, đội ngũ nhân sự của Nestle Purina đã tuyển dụng thành công nhiều hơn 38% số lượng ví trí mới so với 1 năm trước khi dùng Linkedin.​
                                </p>
                            </div>
                            <div class="user_name mbr-fonts-style mb-2 display-7"><strong>Bà Brook Lashley Lynch</strong></div>
                            <div class="user_desk mbr-fonts-style display-7">Nestle Bắc Mỹ​​</div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <button class="embla__button embla__button--prev">
                <span class="mobi-mbri mobi-mbri-arrow-prev mbr-iconfont" aria-hidden="true"></span>
                <span class="sr-only visually-hidden visually-hidden">Previous</span>
            </button>
            <button class="embla__button embla__button--next">
                <span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont" aria-hidden="true"></span>
                <span class="sr-only visually-hidden visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content4 cid-t7iCp4Sv0N" id="content4-2p">
    

    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-12 col-lg-9">
                
                <h4 class="mbr-section-subtitle align-center mbr-fonts-style mb-4 display-7">Anphabe hiện là Đại lý chiến lược độc quyền của LinkedIn Talent Solutions tại Việt Nam, chuyên cung cấp các giải pháp Tuyển Dụng &amp; Thương Hiệu Nhà Tuyển Dụng trên nền tảng LinkedIn. Với đội ngũ tư vấn được đào tạo bài bản bởi LinkedIn, Anphabe đã và đang đồng hành và hỗ trợ các doanh nghiệp tuyển dụng nhanh, đúng người đúng việc và gia tăng sức hấp dẫn với ứng viên tiềm năng thông qua các giải pháp toàn diện, từ <strong>Linkedin Recruiter</strong>, <strong>Job Slot</strong> cho đến <strong>Career Page</strong>.</h4>   
                <div class="info-form">
                    <p class="mbr-text mbr-fonts-style align-center mb-1 display-7"><strong>Liên hệ ANPHABE để được tư vấn</strong></p>            
                    <p class="mbr-text mbr-fonts-style align-center mb-1 display-7">
                    <span class="mbr-iconfont mobi-mbri-phone"></span> (+84) 8 6268 2222</p>
                    <p class="mbr-text mbr-fonts-style align-center mb-1 display-7">
                    <span class="ti-mobile mbr-iconfont"></span> (+84) 908 267 759</p>
                    <p class="mbr-text mbr-fonts-style align-center mb-4 display-7">
                    <span class="material material-mail-outline mbr-iconfont"></span> <a href="mailto:clientsolution@anphabe.com" class="text-primary">clientsolution@anphabe.com</a></p>
                </div>
                <div class="mbr-section-btn align-center"><a class="btn btn-primary display-4" href="index.html#dangky"><strong>TRẢI NGHIỆM NGAY</strong></a></div>    
          </div>         
    </div>
</div></section>

{{ partial "footer.html" . }}
<section id="top-1" hidden>
    <a href="https://mobirise.site"></a></section>
    
    
    <script src="assets/witsec-jquery-3.5.1/jquery-3.5.1.min.js"></script>  
    <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>  
    <script src="assets/smoothscroll/smooth-scroll.js"></script>  
    <script src="assets/ytplayer/index.js"></script>  
    <script src="assets/dropdown/js/navbar-dropdown.js"></script>  
    <script src="assets/embla/embla.min.js"></script>  
    <script src="assets/embla/script.js"></script>  
    
    <script src="assets/al/al.min.js"></script>
  
</body>
</html>