
#floating-phone {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 60px;
    width: 60px;
    background: #0052cc url(https://callnowbutton.com/phone/callbutton01.png) center/50px no-repeat;
    z-index: 99;
    color: #fff;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 5px rgb(0 0 0 / 50%);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,.5);
    box-shadow: 0 2px 5px rgb(0 0 0 / 50%);
}

@media (max-width: 650px){
  #floating-phone {
      display: block;
  
  }
}